#codeigniter_profiler {
	border-top: 3px solid rgba(0, 0, 0, 0.5);
	font-size: 1.4em;
	line-height: 1.5em;
	opacity: 0.05;
	-webkit-transition: 250ms all linear;
	-moz-transition: 250ms all linear;
	-o-transition: 250ms all linear;
}

#codeigniter_profiler:hover {
	opacity: 1;
}

#codeigniter_profiler fieldset { border-radius: 5px; }

#codeigniter_profiler td { padding: 0.333em 0.5em; }

#codeigniter_profiler strong { font-weight: bold; }
#codeigniter_profiler em { font-style: em; }