body {
	border-right: 8px solid rgba(255, 255, 255, 0.667);
}

#primaryNav {
	background: url('../i/sidebar_bg.png') no-repeat center bottom;
	border-top: 8px solid rgba(255, 255, 255, 0.667);
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	left: 16px;
	padding-bottom: 62px;
	position: absolute;
	top: 16px;
	width: 104px;
}

#primaryNav ol {
	border-left: 8px solid rgba(255, 255, 255, 0.667);
	border-right: 8px solid rgba(255, 255, 255, 0.667);
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	margin: -7px -1px 0;
	padding-top: 7px;
}

#wrapper {
	background-color: rgba(255, 255, 255, 0.25);
	border: 16px solid rgba(255, 255, 255, 0.667);
	border-top: none;
	-webkit-border-bottom-right-radius: 18px;
	-moz-border-radius-bottomright: 18px;
	border-bottom-right-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	-moz-border-radius-bottomleft: 18px;
	border-bottom-left-radius: 18px;
	color: #444;
	margin: 0 0 20px 152px;
	width: 944px;
	-webkit-box-shadow: 0px 0 10px rgba(0,0,0, 0.5);
}

#wrapper header {
	border-bottom: 1px solid white;
	font: normal normal 600 14em/1em "proxima-nova-1", "proxima-nova-2", futura, "century gothic", verdana, sans-serif;
	padding-top: 20px;
}

	.wf-active #wrapper header {
		font-size: 14em;
	}

#wrapper header a {
	color: white;
	text-decoration: none;
}

#wrapper > header h1 {
	letter-spacing: -0.025em;
	margin: -0.15ex 0 0.2ex;
	text-align: center;
	text-shadow: 2px 2px 1px rgba(0,0,0, 0.15);
}

#wrapper > header h6 {	
	font-size: 0.285714286em;
	color: #C1CFE7;
	letter-spacing: -0.05em;
	line-height: 1em;
	text-indent: 0.5em;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.1);
}

div#articles {
	background-color: rgba(255, 255, 255, 0.333);
}

article {
	border-bottom: 1px dotted #94B3DE;
	padding: 20px;
}

article h1 {
	font-size: 2em;
	margin: 0 0 0.5em 100px;
}

article time {
	float: left;
	font-size: 1.1em;
	width: 100px;
}

article p {
	font-size: 1.25em;
	line-height: 1.333em;
	margin-left: 100px;
}

article p + p {
	margin-bottom: 1em;
}

#new_entry {
	background-color: white;
	padding: 20px;
}

#new_entry label {
	display: block;
}

#new_entry input[type=text] {
	width: 50%;
}

#new_entry textarea {
	height: 15em;
	width: 50%;
}

#new_entry #excerpt { display: none; }

#new_entry input[type=datetime] {
	display: block;
}

#wrapper > footer {
	border-bottom-right-radius: 5px;
	padding: 20px 20px 40px;
}