<form action='/login/authenticate' method='post'>
	<input type='hidden' name='auth_redirect' value='{{auth_redirect}}' />
	
	<label>name:</label>
	<input type='text' name='name' />
	
	<label>pass:</label>
	<input type='text' name='pass' />
	
	<input type='submit' value='Login' />
</form>